<launch>
  <arg name="visualize" default="false"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch"/>
  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find urg_visualize_test)/urdf/robot.xacro' visualize:=$(arg visualize)"/>
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-urdf -model urg_robot -param robot_description"/>
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher"/>
</launch>